name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *" # 매일 자정 자동 생성
  workflow_dispatch: # 수동 실행 가능
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Snake Animation
        uses: Platane/snk@v3
        with:
          github_user_name: mintae1117
          outputs: |
            dist/snake.svg
            dist/snake.gif?palette=github-dark
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: snake
          path: dist
      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
