name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: mintae1117
          outputs: |
            dist/github-snake.svg?color_snake=#3b82f6&color_dots=#374151,#4ade80,#22c55e,#16a34a,#15803d
            dist/github-snake-dark.svg?color_snake=#3b82f6&color_dots=#374151,#4ade80,#22c55e,#16a34a,#15803d

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
