name: Generate Snake

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: mintae1117
          outputs: |
            dist/github-snake.svg?color_snake=#3b82f6&color_dots=#374151,#2a7a8a,#3a9fb0,#4dbdd0,#60DBFB
            dist/github-snake-dark.svg?color_snake=#3b82f6&color_dots=#374151,#2a7a8a,#3a9fb0,#4dbdd0,#60DBFB

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
